<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 配置生成器 -->
<generatorConfiguration>

	<classPathEntry
		location="C:\Users\Administrator\.m2\repository\oracle\oracle-jdbc\1.0.0\oracle-jdbc-1.0.0.jar" />
	<context id="oracle">

		<!-- 生成的Java文件的编码 -->
		<property name="javaFileEncoding" value="UTF-8" />
		
		<!-- 分页插件 物理分页 -->
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin">
		</plugin>

		<!-- 必须要有的，使用这个配置链接数据库 @TODO:是否可以扩展 -->
		<jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
			connectionURL="jdbc:oracle:thin:@localhost:1521:ORCL" userId="crmtwo"
			password="root">
		</jdbcConnection>

		<!-- java模型创建器，是必须要的元素 ,targetPackage：生成的类要放的包，真实的包受enableSubPackages属性控制；
		     targetProject：目标项目，指定一个存在的目录下，生成的内容会放到指定目录中，如果目录不存在，MBG不会自动建目录 -->
		<javaModelGenerator targetPackage="com.zhidisoft.crm.entity"
			targetProject="crm">
		</javaModelGenerator>

		<!--  1，ANNOTATEDMAPPER：会生成使用Mapper接口+Annotation的方式创建（SQL生成在annotation中），不会生成对应的XML； 
			  2，MIXEDMAPPER：使用混合配置，会生成Mapper接口，并适当添加合适的Annotation，但是XML会生成在XML中； 
			  3，XMLMAPPER：会生成Mapper接口，接口完全依赖XML； -->
		<javaClientGenerator targetPackage="com.zhidisoft.crm.mapper"
			type="ANNOTATEDMAPPER" targetProject="crm">
		</javaClientGenerator>
		
		<!-- <table tableName="tb_system_user">
			<generatedKey column="id" sqlStatement="select sys_guid() from dual"/>
		</table>
		
		<table tableName="tb_system_role">
			<generatedKey column="id" sqlStatement="select sys_guid() from dual"/>
		</table>
		
		<table tableName="tb_system_function">
			<generatedKey column="id" sqlStatement="select sys_guid() from dual"/>
		</table> 	
		
		<table tableName="tb_system_role_function">
			<generatedKey column="roleid,funcid" sqlStatement="select sys_guid() from dual"/>
		</table> -->
		
		<table tableName="tb_crm_leads">
			<generatedKey column="leadsid" sqlStatement="select sys_guid() from dual"/>
		</table>
		
	</context>

</generatorConfiguration>